{% extends 'base.html.twig' %}

{% block title %}Edit {{pin.title}}{% endblock %}


{% block body %}
    <h1>Edit Pin #{{pin.id}}</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <input type="submit" value="Update  Pin" formnovalidate>

    {{ form_end(form) }}


	<a href="{{ path('app_home') }}">Go Back</a>
{% endblock %}

