{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1> {{ pins|length }} {{ pluralize(pins|length, 'Pin', 'Pins') }}</h1>


    {% for pin in pins %}
        <article>
            <h1><a href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h1>
            <p>{{ pin.description }}</p>
        </article>
    {% endfor %}
{% endblock %}
